#info{
    color: white !important;
    font-size: medium;

}
#title{
    color: white !important;
    font-size: large;
}
#link {
    color: white;
    text-decoration: none;
  }
  
  #link:visited {
    color: white;
  }
  
  #link:hover {
    color: white;
    text-decoration: underline;
  }
  